* {
  margin: 0;
  padding: 0;
}
header {
  text-align: center;
  background: green;
  color: #fff;
  font-family: 'Montserrat';
}
body {
  font-family: sans-serif;
}
.form-div {
  margin: 20px;
}
.form-div button {
  border: none;
  background: rgb(0, 0, 133);
  color: #fff;
  padding: 8px;
}
.form-div button:hover {
  background: rgb(0, 0, 173);
}
.form-div button:focus {
  background: rgb(173, 0, 58);
}
.items {
  background: #333;
  color: #fff;
  padding: 15px;
  list-style: none;
}
